@model Project_try3.Models.Orders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Payed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Payed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupBuying.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupBuying.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayType.Method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayType.Method)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
