@{
    string str = "", action = "";
    str = Session["user"] == null ? "登入" : "登出";
    action = Session["user"] == null ? "Login" : "Logout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    @RenderSection("css", false)
</head>
<body class="pt-3">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-info shadow">
        <div class="container">

            @Html.ActionLink("饗訂", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent " aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarContent">

                <ul class="navbar-nav ">

                    <li class="nav-item">@Html.ActionLink("商店", "Index", "Home", null, new { @class = "nav nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("會員專區", "Index", "Members", null, new { @class = "nav nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("常見問題", "Index", "Home", null, new { @class = "nav nav-link" })</li>

                    <li class="nav-item  ">@Html.ActionLink(str, action, "Login", null, new { @class = " btn btn-warning " })</li>
                    <li class="nav-item ml-2 ">@Html.ActionLink("註冊", "Create", "Members", null, new { @class = " btn btn-primary " })</li>
                </ul>





            </div>

        </div>
    </nav>

    <div class="container body-content pt-5">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("script", false)
    


</body>
</html>