@model IEnumerable<Project_try3.Models.Manage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _Manage.cshtml";
}

<h2 class="alert alert-primary text-center">會員問題列表</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
           建立日期
        </th>
        <th>
            處理日期
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProblemType.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DealDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Members.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProblemType.Type)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.SN }) |
            @Html.ActionLink("詳細說明", "Details", new { id=item.SN }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.SN })*@
        </td>
    </tr>
}

</table>
