@model Project_try3.Models.Stores

@{
    ViewBag.Title = "Details";
}



<div>
    <div class="card border-info">
        <div class="card-body ">
            <h3 class=" alert alert-info text-center">
                @Html.DisplayFor(model => model.Name)
            </h3>

            <div class="row border-top  mb-3">
                <div class="col-md-5 text-right">
                    <div>
                        @Html.DisplayNameFor(model => model.Phone)：
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Address)：
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Description)：
                    </div>
                    <div>
                        @Html.DisplayNameFor(model => model.Status)：
                    </div>
                </div>

                <div class="col-md-7">
                    <div>
                        @Html.DisplayFor(model => model.Phone)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Address)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Status)
                    </div>

                </div>
                @Html.ActionLink("開始團購", "Create", "GroupBuyings", new { storeSN = Model.SN }, new { @class = "btn btn-success ml-auto mr-5" })
                @Html.ActionLink("單筆訂購", "Menu", "Home", new { storeSN = Model.SN }, new { @class = "btn btn-primary mr-auto" })
            </div>
            <div>
                <h5 class="text-center alert alert-info">商品項目</h5>
                @Html.Action("_Menu", "Home", new { id = Model.SN })
            </div>

        </div>
    </div>
</div>


<p>

    @*@Html.ActionLink("Edit", "Edit", new { id = Model.SN }) |*@
    @Html.ActionLink("Back to List", "Index", "Home")

</p>
