@model IEnumerable<Project_try3.Models.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _Manage.cshtml";

}

<h2 class="text-center alert alert-primary">商品列表</h2>

<p>
    @Html.ActionLink("新增", "Create", null, new { @class = "bi bi-file-plus btn btn-primary " })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discontinued)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PhotoType)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stores.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="col-1">
                @Html.DisplayFor(modelItem => item.Stock)/@Html.DisplayFor(modelItem => item.Unit)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discontinued)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Photo)*@
                @if (item.Photo != null)
                {
                    <img src="@Url.Action("GetImage", new { @id = item.SN })" width="100">
                }
                else
                {
                    <div style="position: relative; width: 100%; height: 0; padding-top: 70.9459%;
                     padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);  overflow: hidden;
                     border-radius: 8px; will-change: transform;">
                        <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                                src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFcHqB1JiU&#x2F;view?embed" >
                        </iframe>
                    </div>
                }

                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.PhotoType)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stores.Name)
                </td>
                <td>
                    @Html.ActionLink("編輯內容", "Edit", new { id = item.SN }, new { @class = "btn btn-primary mb-1" }) 
                    @*@Html.ActionLink("Details", "Details", new { id = item.SN }, new { @class = "btn btn-danger" }) |*@
                    @Html.ActionLink("刪除商品", "Delete", new { id = item.SN }, new { @class="btn btn-danger",onclick = "return confirm('你確定要刪除" +item.Stores.Name+item.ProductName+ "的資料嗎？')" })
                </td>
            </tr>
        }
            </table>
<div>
    @Html.ActionLink("返回商店列表", "Index", "Stores", null,null)
    @Html.ActionLink("返回商店產品列表", "Index", "Products", null,null)
</div>
