@model Project_try3.Models.Members
@* 因為用find id找唯一一筆所以就不用迴圈讀，直接用model讀 *@
@{
    ViewBag.Title = "會員列表";
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="container ">

    <div class="card border-info mb-3 " >
        <div class="card-header"></div>
        <div class="card-body text-info">
            <h3 class="card-title">@Html.DisplayFor(model => model.Name)</h3>
            <h5 class="card-text">@Html.DisplayFor(model => model.Users.Account)</h5>
            <h5 class="card-text">@Html.DisplayFor(model => model.Phone)</h5>
            <h5 class="card-text">@Html.DisplayFor(model => model.Email)</h5>
            <h5 class="card-text">@Html.DisplayFor(model => model.Address)</h5>
            @Html.ActionLink("修改基本資料", "Edit", new { id = Model.SN }, new { @class = "btn btn-primary btn-block" })

        </div>
       
    </div>
 

          

</div>
