@model IEnumerable<Project_try3.Models.Comments>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center alert alert-info">評論區</h2>

<div class="container">
    

    <div class="card-deck">
            @foreach (var item in Model)
            {

        <div class="row m-1">
                <div class="card col-md-12 " style="width: 18rem;">
                    <div class="card-header text-right">
                        @Html.ActionLink("\n", "Edit", new { id = item.SN }, new { @class = "btn btn-warning bi bi-pencil-square" })
                        @Html.ActionLink("\n", "Delete", new { id = item.SN }, new { @class = "btn btn-danger bi bi-trash3-fill" })
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Members.Name)：@Html.DisplayFor(modelItem => item.Members.Name)</h5>
                        <h5 class="card-title">@Html.DisplayNameFor(model => model.Stores.Name)：@Html.DisplayFor(modelItem => item.Stores.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Comment)</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@Html.DisplayFor(modelItem => item.CreatedDate)</small>
                    </div>
                </div>
        </div>
            }
    </div>
    <hr>
    <p>
        @Html.Action("_Create")
    </p>
</div>