@model IEnumerable<Project_try3.Models.ProblemType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout _Manage.cshtml";
}

<h2 class="alert alert-info text-center">常見問題種類</h2>

<p>
    @Html.ActionLink("新增", "Create",null,new { @class = "bi bi-file-plus btn btn-primary " })

</p>
<table class="table text-center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.SN }, new { @class = "btn btn-primary" })
           
            @Html.ActionLink("刪除", "Delete", new { id = item.SN }, new { @class = "btn btn-danger", onclick = "return confirm('確定要刪除資料？')" })
        </td>
    </tr>
}

</table>
